Django==5.2.1
Pillow==11.2.1  # Para manipulação de imagens
python-dotenv==1.0.1  # Para variáveis de ambiente
django-crispy-forms==2.1  # Para formulários mais bonitos
crispy-bootstrap5==2024.2  # Template para crispy-forms
